.container {
  --header-height: 43px;

  height: 482px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32%;
  height: var(--header-height);
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--seperator-color);
}

.header .headerText {
  font-size: var(--big-text-size);
}

.body,
.body2 {
  height: calc(100% - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: 439px;
  flex-direction: column;
  font-size: var(--huge-text-size);
}

.body2 {
  width: 779px;
}

.text {
  margin-top: 10px;
}

.right {
  padding: 16px;
  height: 100%;
  width: 340px;
  display: flex;
  flex-direction: column;
}

.profileInfo {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.contentInput {
  height: 168px;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--tertiary-background-color);
  resize: none;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--tertiary-background-color);
}

.demo {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
