.container {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32%;
  height: 43px;
  background-color: var(--primary-background-color);
}

.header .headerText {
  font-size: var(--big-text-size);
}

.body,
.body2 {
  flex: 1;
  width: 439px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  flex-direction: column;
  font-size: var(--huge-text-size);
}

.body2 {
  width: 779px;
}

.text {
  margin-top: 10px;
}

.right {
  padding: 16px;
  height: 100%;
  width: 340px;
  display: flex;
  flex-direction: column;
}

.profileInfo {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.contentInput {
  height: 168px;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  resize: none;
}

.left {
  flex: 1;
  height: 100%;
  background-color: var(--secondary-background-color);
}