.container {
  background-color: var(--highlight-background-color);
  border-radius: 18px;
  cursor: pointer;
}

.top {
  padding: 10px;
}

.image {
  background-color: var(--tertiary-background-color);
  max-height: 70vh;
  overflow: hidden;
}

.details {
  padding: 10px;
}