.container, .top {
  display: flex;
  align-items: center;
}

.container {
  width: 548px;
  height: 500px;
  flex-direction: column;
}

.top {
  width: 100%;
  height: 44px;
  justify-content: center;
  border-bottom: 1px solid var(--elevated-seperator-color);
}

.headBlock {
  width: 50px;
}

.header {
  flex: 1;
  text-align: center;
  font-size: var(--big-text-size);
}

.list {
  width: 100%;
  padding: 16px;
  overflow: scroll;
}