.tabs {
  --border: 1px solid var(--seperator-color);

  display: flex;
  justify-content: center;
  gap: 40px;
  border-top: var(--border);
}
.tabs.bottom {
  border-top: none;
  border-bottom: var(--border);
}

.tab {
  padding: 15px 0;
  color: var(--secondary-text-color) !important;
  font-size: var(--small-text-size);
  font-weight: var(--font-semibold);
  letter-spacing: 1px;
}

.selected {
  --border: 1px solid var(--primary-text-color) !important;

  color: var(--primary-text-color) !important;
  border-top: var(--border) !important;
}

.tabs.bottom .selected {
  border-top: none !important;
  border-bottom: var(--border);
}