.main {
  padding: 32px 100px 0 90px;
}

.profileInfo,
.right,
.proTop,
.proMiddle {
  display: flex;
  align-items: center;
  width: 100%;
}

.profileInfo {
  margin: 0 0 49px 70px;
  width: min-content;
  gap: 90px;
}

.profileInfo p {
  margin: 0;
}

.right {
  flex-direction: column;
  gap: 25px;
}

.proTop {
  gap: 20px;
}

.proMiddle {
  min-width: max-content;
  gap: 40px;
}

.proBottom {
  width: 100%;
}
