.container {
  padding: 16px 32px;
  height: 80vh;
  width: max(400px, 30vw);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--primary-background-color);
}

.resultList {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
