.container {
  padding: 16px 32px;
  height: 482px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--primary-background-color);
}

.resultList {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
