.main {
  display: flex;
  justify-content: center;
}

.middle {
  max-width: 630px;
  width: 100%;
  padding-top: 20px;
}

.rightSide {
  box-sizing: content-box;
  padding-left: 64px;
  padding-top: 36px;
  width: var(--feed-sidbar-width);
}