.card {
  margin-bottom: 16px;
  padding-bottom: 16px;
  max-width: 100%;
  width: min(470px, 100vw);
  height: min-content;
  border-bottom: 1px solid var(--seperator-color);
}

.top {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 4px;
  padding-bottom: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
}

.img {
  width: 100%;
}

.card p {
  margin: 0;
}

.bottom, .leftSide, .rightSide {
  display: flex;
  gap: 10px;
}

.bottom {
  margin: 12px 0 12px 0;
  justify-content: space-between;
  align-items: center;
}

.details > *, .details > p {
  margin-top: 8px;
}