.dialog {
  padding: 0;
  width: fit-content;
  border: none;
  border-radius: 12px;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.dialog::backdrop {
  background-color: rgba(204, 204, 204, 0.068);
}