.content {
  padding: 0 16px 0 16px;
}
.suggested {
  margin: 24px 0 20px 0;
}
.profileList {
  padding: 16px 0 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  gap: 5px;
}
.nav > ul > li {
  display: inline;
  margin-bottom: 16px;
  &::after {
    content: " .";
  }
}
