.container {
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
}

.left {
  padding: 0;
  max-width: 400px;
  flex: 1;
  border-right: 1px solid var(--seperator-color);
  overflow-y: scroll;
}

.right {
  flex: 1;
}
