.container {
  height: 75vh;
  width: max(400px, 30vw);
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
}

.header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--seperator-color);
}

.list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  display: flex;
  gap: 10px;
}
