.container {
  margin: 52px 0;
}

.top,
.bottom {
  display: flex;
  justify-content: center;
}

.top {
  flex-wrap: wrap;
  line-height: 0;
  gap: 15px;
}

.bottom {
  margin-top: 25px;
  gap: 10px;
}
