* {
  box-sizing: border-box;
  font-family: var(--font-family-system);
  font-size: inherit;
}

body {
  --nav-medium-width: 244px;
  --feed-sidbar-width: 319px;

  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;

  --primary-background-color: black;
  --secondary-background-color: rgb(18, 18, 18);
  --primary-text-color: white;
  --secondary-text-color: rgb(168, 168, 168);
  --tertiary-text-color: rgb(115, 115, 115);

  --seperator-color: rgb(38, 38, 38);
  --primary-btn-color: rgb(0, 149, 246);

  --font-semibold: 600;
  --huge-text-size: 20px;
  --big-text-size: 16px;
  --normal-text-size: 14px;
  --small-text-size: 12px;

  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: var(--normal-text-size);
}

.prim-text {
  font-weight: var(--font-semibold);
}

.secon-text {
  color: var(--secondary-text-color);
}

.tertiary-text {
  color: var(--tertiary-text-color);
  font-size: var(--small-text-size);
}

.small-text {
  font-size: var(--small-text-size);
}

.secon-text-semibold {
  margin: 0;
  color: var(--secondary-text-color);
  font-weight: var(--font-semibold);
}

.inline-para {
  display: inline;
}

.primary-btn {
  padding: 7px 16px;
  font-size: var(--normal-text-size);
  font-weight: var(--font-semibold);
  border: none;
  border-radius: 8px;
  color: var(--primary-text-color);
  background-color: var(--primary-btn-color);
}

.no-border-btn {
  /* font-size: 12px; */
  font-weight: 600;
  border: none;
  background: none;
  color: var(--primary-btn-color);
}

.main {
  width: calc(100% - var(--nav-medium-width));
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.middle {
  max-width: 630px;
  width: 100%;
  padding-top: 20px;
}

.right-side {
  box-sizing: content-box;
  padding-left: 64px;
  padding-top: 36px;
  width: var(--feed-sidbar-width);
}
.right-side .content {
  padding: 0 16px 0 16px;
}
.right-side .suggested {
  margin: 24px 0 20px 0;
}
.right-side .list {
  padding: 8px 0 8px 0;
}
