* {
  box-sizing: border-box;
  font-family: var(--font-family-system);
  font-size: 14px;
}

body {
  height: 100vh;
  margin: 0;
  background-color: black;
  color: rgb(245, 245, 245);
  --nav-medium-width: 244px;
  --feed-sidbar-width: 319px;
  --secondary-text-color: rgb(168, 168, 168);
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --font-semibold: 600;
  --seperator-color: rgb(38, 38, 38);
  --primary-btn-color: rgb(0, 149, 246);
  --tertiary-text-color: rgb(115, 115, 115);
}

#root,
.container {
  height: 100%;
}

.secon-text {
  color: var(--secondary-text-color);
}

.prim-text {
  font-weight: var(--font-semibold);
}

.inline-para {
  display: inline;
}

.suggested {
  margin: 24px 0 20px 0;
}

.no-border-btn {
  border: none;
  background: none;
  color: var(--primary-btn-color);
  font-size: 12px;
  font-weight: 600;
}

.tertiary-text {
  color: var(--tertiary-text-color);
  font-size: 12px;
}

.main {
  width: calc(100% - var(--nav-medium-width));
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.middle {
  max-width: 630px;
  width: 100%;
  padding-top: 20px;
}
.right-side {
  box-sizing: content-box;
  height: 100vh;
  padding-left: 64px;
  padding-top: 36px;
  width: var(--feed-sidbar-width);
}
.content {
  padding: 0 16px 0 16px;
}
.list {
  padding: 8px 0 8px 0;
}
.text {
  margin: 0;
  font-weight: var(--font-semibold);
}

.nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  gap: 5px;
}
.nav > ul > li {
  display: inline;
  margin-bottom: 16px;
  &::after {
    content: " .";
  }
}
